/* /Layout/Component/Construction.razor.rz.scp.css */
div[b-o5a4u8gfpa] {
  background-color: white;
  text-align: center;
  margin-top: 1%;
  height: 100vh;
}

img[b-o5a4u8gfpa] {
  max-width: 80%;
  height: auto;
}

h1[b-o5a4u8gfpa] {
  font-size: 10vw;
  font-weight: 600;
}

p[b-o5a4u8gfpa] {
  font-size: 3em;
  padding: 0 10px;
  font-style: italic;
}

#back-button[b-o5a4u8gfpa]  a {
  color: black;
  text-decoration: none;
  font-size: 2em;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
}
/* /Layout/Home/BottomBody.razor.rz.scp.css */
#bottom-section[b-fjet5tgmtn] {
    background-color: #1C2541;
    width: 100%;
    min-height: 384px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arrow-left[b-fjet5tgmtn], #arrow-right[b-fjet5tgmtn] {
    min-width: 97px;
    min-height: 384px;
}

#projects-section[b-fjet5tgmtn] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-item[b-fjet5tgmtn] {
    min-width: 400px;
    min-height: 300px;
    margin: 20px 10px;
    border-radius: 20px;
    transition: transform 500ms;
}
    .project-item:hover[b-fjet5tgmtn] {
        transform: scale(1.05, 1.05);
    }

#arrow-right[b-fjet5tgmtn] {
    transform: scale(-1);
    float: right;
}

@media (max-width: 1040px) {
    #projects-section[b-fjet5tgmtn] {
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .project-item[b-fjet5tgmtn] {
        min-width: 0;
        min-height: 0;
        max-width: 100%;
        height: auto;
        margin: 0;
    }
    #projects-section[b-fjet5tgmtn] {
        flex-direction: column  ;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    #arrow-left[b-fjet5tgmtn], #arrow-right[b-fjet5tgmtn] {
        min-width: 0;
        min-height: 0;
        max-width: 100%;
        height: auto;
    }
}
/* /Layout/Home/Description.razor.rz.scp.css */
#description-section[b-7abfv7ljkx] {
    min-width: 100%;
    min-height: 696px;
    background-color: #F1F2EE;
}

#text-section[b-7abfv7ljkx] {
    display: flex;
    align-items: center;
}

#avatar[b-7abfv7ljkx] {
    min-width: 385px;
    min-height: 602px;
    margin: 48px 0 0 106px;
}

#description-text[b-7abfv7ljkx] {
    min-width: 800px;
    text-align: center;
    margin: 153px 30px 153px 198px;
    font-size: 2em;
    font-weight: 600;
}

#rectangle[b-7abfv7ljkx] {
    background-color: black;
    width: auto;
    height: 6px;
    padding: 6px auto;
    margin: 0 60px 40px 60px;
}

@media (max-width: 1600px) {
    #description-text[b-7abfv7ljkx] {
        margin-left: 20px;
    }
}
@media (max-width: 1450px) {
    #text-section[b-7abfv7ljkx] {
        flex-direction: column;
    }
    #avatar[b-7abfv7ljkx] {
        margin: 0;
    }
    #description-text[b-7abfv7ljkx] {
        margin: 0;
        margin-bottom: 153px;
    }
}

@media (max-width: 850px) {
    #description-section[b-7abfv7ljkx] {
        height: auto;
    }
    #description-text[b-7abfv7ljkx] {
        min-width: 0;
        max-height: auto;
        font-size: 5vw;
        padding: 0 20px;
        margin: 20px 0;
    }
}
/* /Layout/Home/FooterBody.razor.rz.scp.css */
.footer-section[b-scr6kro03g] {
  background-color: #0B132B;
  color: white;
  font-weight: 700;
  font-size: 0.8vw;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
}

#section1[b-scr6kro03g] {
  width: 70%;
  margin: 0 3vw;
  display: flex;
  flex-wrap: wrap;
}

#section2[b-scr6kro03g] {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
  

.footer-table[b-scr6kro03g] {
  background-color: #3A506B;
  border-collapse: collapse;
  min-width: 388px;
  margin-right: 200px;
}
  h4[b-scr6kro03g] {
    margin: 4px 0;
  }

.footer-table th[b-scr6kro03g],
.footer-table td[b-scr6kro03g] {
  padding: 0.4rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

.footer-list[b-scr6kro03g] {
  padding-left: 20px;
  margin: 0;
}

.footer-list li[b-scr6kro03g] {
  margin-bottom: 0.4rem;
}

@media (max-width: 1700px) {
  .footer-section[b-scr6kro03g] {
    font-size: 1vw;
  }
  #section1[b-scr6kro03g] {
    width: 60%;
  }
  #section2[b-scr6kro03g] {
    width: 40%;
    margin-right: 30px;
  }
}

@media (max-width: 800px) {
  .footer-section[b-scr6kro03g] {
    font-size: 2vw;
  }
  .footer-table[b-scr6kro03g] {
    min-width: 200px;
    margin-right: 5vw;
  }
  #section1[b-scr6kro03g] {
    width: 50%;
  }
  #section2[b-scr6kro03g] {
    width: 50%;
    margin: 2vh 3vw;
  }
}

@media (max-width: 380px) {
  .footer-section[b-scr6kro03g] {
    font-size: 2vw;
    flex-direction: column;
    justify-content: center;
  }
  .footer-table[b-scr6kro03g] {
    min-width: 50vw;
    margin-right: 2vw;
  }
  #section1[b-scr6kro03g] {
    width: 50%;
  }
  #section2[b-scr6kro03g] {
    width: 50%;
    margin: 2vh 3vw;
  }
}
/* /Layout/Home/Header.razor.rz.scp.css */
#header-section[b-x188m4kmxi] {
    max-width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo[b-x188m4kmxi] {
    max-width: 58px;
    height: auto;
    margin: 23px 0 23px 35px;
}

#header-nav[b-x188m4kmxi] {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
}

.header-navlink[b-x188m4kmxi]  a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: text-decoration 500ms;
}
    .header-navlink:hover[b-x188m4kmxi]  a {
        text-decoration: underline;
    }

#header-contact[b-x188m4kmxi]  a {
    background-image: url("/buttons/contact-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 32px;
    color: black;
    text-decoration: none;
    padding: 20px 40px;
    margin: 20px 35px 19px 0;
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
}
    #header-contact:hover[b-x188m4kmxi]  a{
        background-color: black;
        color: white
    }

@media (max-width: 600px) {
    #header-nav[b-x188m4kmxi] {
        min-width: 0;
        flex-direction: column;
    }
    .header-navlink[b-x188m4kmxi]  a {
        font-size: 4vw;
    }
}

@media (max-width: 350px) {
    #header-nav[b-x188m4kmxi] {
        display: none;
    }
}
/* /Layout/Home/MainBody.razor.rz.scp.css */
#mainbody-section[b-xiau9h7i2m]{
    background-image: url("/images/mainbody/background.png");
    max-width: 100%;
    min-height: 797px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#text-section[b-xiau9h7i2m] {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-left: 6vw;
}
#image-section[b-xiau9h7i2m] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#section1[b-xiau9h7i2m] {
    display: flex;
}
#section2[b-xiau9h7i2m] {
    display: flex;
    align-items: start;
}

#text-div[b-xiau9h7i2m] {
    padding-left: 25px;
}
#rectangle3[b-xiau9h7i2m]{
    max-width: 30%;
    height: auto;
    transition: transform 500ms;
}
    #rectangle3:hover[b-xiau9h7i2m] {
        transform: rotate(90deg);
    }
#author-text[b-xiau9h7i2m] {
    margin: 0;
    font-size: 2vw;
}
#job-text[b-xiau9h7i2m] {
    margin: 0;
    font-size: 4vw;
}

#rectangle4[b-xiau9h7i2m]{
    max-width: 30%;
    height: auto;
    transition: transform 500ms;
}
    #rectangle4:hover[b-xiau9h7i2m] {
        transform: rotate(90deg);
    }
#rectangle5[b-xiau9h7i2m]{
    max-width: 30%;
    height: auto;
    transition: transform 500ms;
}
    #rectangle5:hover[b-xiau9h7i2m] {
        transform: rotate(90deg);
    }
    #rectangle5:hover + #rectangle4[b-xiau9h7i2m]{
        transform: rotate(90deg);
    }
#technologies-text[b-xiau9h7i2m] {
    font-size: 1.4vw;
    max-width: 445px;
    padding-left: 25px;
    font-weight: 700;
}

#avatar[b-xiau9h7i2m] {
    max-width: 75%;
    height: auto;
    margin: 15px;
}
#net2025[b-xiau9h7i2m] {
    max-width: 3%;
    height: auto;
    margin: 30px 35px;
}


@media (max-width: 1410px) {
    #mainbody-section[b-xiau9h7i2m] {
        justify-content: center;
    }
    #section2[b-xiau9h7i2m] {
        flex-wrap: wrap;
    }
    #text-section[b-xiau9h7i2m] {
        width: 100%;
    }
    #image-section[b-xiau9h7i2m] {
        width: 100%;
    }
    #author-text[b-xiau9h7i2m] {
        font-size: 5vw;
    }
    #job-text[b-xiau9h7i2m] {
        font-size: 5vw;
    }
    #technologies-text[b-xiau9h7i2m] {
        font-size: 3vw;
    }
    #net2025[b-xiau9h7i2m] {
        margin-left: 10px;
        margin-right: 10px;
    }
    #image-section[b-xiau9h7i2m] {
        justify-content: center ;
    }
}

@media (max-width: 890px) {
    #text-section[b-xiau9h7i2m] {
        padding-left: 0;
    }
    #section1[b-xiau9h7i2m] {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #section2[b-xiau9h7i2m] {
        justify-content: center;
    }
    #author-text[b-xiau9h7i2m] {
        text-align: center;
    }
    #technologies-text[b-xiau9h7i2m] {
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #job-text[b-xiau9h7i2m] {
        text-align: center;
    }
    #mainbody-section[b-xiau9h7i2m] {
        display: block;
        min-height: 0;
    }
}
/* /Layout/Home/MiddleBody.razor.rz.scp.css */
#mainbody-section[b-7neg31at2t] {
    background-color: #F1F2EE;
    width: 100%;
    height: 183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-section[b-7neg31at2t] {
    background-image: url("/images/middlebody/nav-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 971px;
    height: 130px;
    margin: 0 20px;
}

#nav-background2[b-7neg31at2t] {
    display: none;
}

#nav-linkedin[b-7neg31at2t] {
    margin: 37px 50px 38px 50px;
}

#nav-github[b-7neg31at2t] {
    margin: 37px 0 38px 0;
}

.background[b-7neg31at2t] {
    width: 30%;
    height: 40%;
}

@media (max-width: 1100px) {
    .background[b-7neg31at2t] {
        display: none;
    }
    #mainbody-section[b-7neg31at2t] {
        justify-content: center;
    }

}

@media (max-width: 1000px) {
    #mainbody-section[b-7neg31at2t] {
        height: auto;
    }
    #nav-section[b-7neg31at2t] {
        background-image: none;
        min-width: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #nav-background2[b-7neg31at2t] {
        max-width: 80%;
        height: auto;
        display: block;
    }
    #nav-linkedin[b-7neg31at2t] {
        margin: 0;
        margin-top: 20px;
    }
    #nav-github[b-7neg31at2t] {
        margin: 0;
        margin-top: 20px;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
